page-tram-map {
    .popup {
        position: fixed;
        z-index: 999;
        width: 100%;
        bottom: 3vh;
    }

    .center {
        -webkit-justify-content: center;
        display: flex;
        justify-content: center;

    }

    .cardCustom {
        height: 220px; 
        max-height: 220px;
        position: relative;
        top: relative;
        overflow-y: auto;
    }

    .imgSideMenu {
        position: fixed;
        z-index: 999;
        top: 6vh;
        left: 3rem;
    }
}
